@model ExeArthurQII.Models.carro
@{
    ViewData["Title"] = "Carros";
    Layout = "_Layout";
}

<h1>Carros</h1>

<div class="col-md-5">
    <figure class="card card-product">
        <div class="img-wrap"><img src="~/img/carro.jpeg" width="100%" /></div>
        <figcaption class="info-wrap" style=" padding: 20px; background-color: dimgrey">
            <h4 class="title"><i class="fa fa-car" aria-hidden="true"></i><b>Marca: </b> @Model.fabricante</h4>
            <p class="desc">@Model.nome<br />@Model.categoria<br /> @Model.Marcha</p>
        </figcaption>
    </figure>
</div>

